body{
    margin: 0;
}
.w {
    background-color: #d6d6d6;
    color:#222226;
    text-align: center;
}
.b {
    background-color: #222226;
    color:#d6d6d6;
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 350px 350px 350px 350px;
}
button {
    border: none;
    appearance: none;
    background-color: inherit;
}
  